[submodule "public"]
	path = public
	url = git@github.com:ibookstein/ibookstein.github.io
	branch = main
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = git@github.com:526avijitgupta/gokarna
	branch = main
