[submodule "public"]
	path = public
	url = git@github.com:ibookstein/ibookstein.github.io
	branch = main
[submodule "themes/simple-hugo-theme"]
	path = themes/simple-hugo-theme
	url = git@github.com:ibookstein/simple-hugo-theme
	branch = master
